:root {
  --color-input-highlights: #ddc515;
  font-size: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Poppins', sans-serif;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  height: 100%;
}

.content-box {
  background: #fff;
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.content-box h1 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: #383838;
}

.content-box .page-subtitle {
  font-size: .7rem;
  margin-bottom: 30px;
  color: #6b6b6b;
  font-weight: 300;
}

.content-box #address-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.content-box #address-search button {
  padding: 10px 0;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: 1px solid #1e1e1e;
  color: #1e1e1e;
  margin: 0 auto;
  background: white;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 500;
  font-size: 0.8rem;
}

.content-box #address-search button:hover {
  background: #1e1e1e;
  color: white;
}

.content-box #address-search .alert {
  width: 100%;
  background: #ffb9bb;
  font-size: .8rem;
  border: 1px solid #ec0007;
  color: #ec0007;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  margin-bottom: 30px;
  position: relative;
}

.content-box #address-search .alert .alert-close {
  position: absolute;
  right: 15px;
  width: 25px;
  height: 25px;
  font-size: 1.5rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.content-box #address-search .alert .alert-close:hover {
  color: #ff5358;
}

.content-box #address-search .alert.ativo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: alert-animation .5s forwards;
          animation: alert-animation .5s forwards;
}

.content-box .address-info-box {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 20px;
}

.content-box .address-info-box.ativo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slidedown .5s forwards;
          animation: slidedown .5s forwards;
}

.content-box .address-info-box .address-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2px 0;
}

.content-box .address-info-box .address-line .title-line {
  font-weight: 600;
  margin-right: 5px;
  color: #383838;
}

footer {
  position: absolute;
  font-size: .7rem;
  bottom: 0;
  color: #eee;
  background-color: #383838;
  font-weight: 300;
  width: 100%;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes alert-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes alert-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.group {
  width: 60%;
  max-width: 300px;
  position: relative;
  margin-bottom: 30px;
}

label {
  color: #757575;
  font-size: .8rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 8px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

label.ativo {
  top: -20px;
  font-size: .65rem;
}

input {
  font-size: .8rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  color: #383838;
  border: none;
  border-bottom: 1px solid #757575;
  font-family: 'Poppins', sans-serif;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #ffffff;
}

input:focus ~ label {
  top: -20px;
  font-size: .65rem;
  color: var(--color-input-highlights);
}

input:focus ~ .bar:before {
  width: 50%;
}

input:focus ~ .bar:after {
  width: 50%;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #383838 !important;
}

input:-webkit-autofill:hover {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #383838 !important;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #383838 !important;
}

input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #383838 !important;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: var(--color-input-highlights);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  left: 50%;
}

.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: var(--color-input-highlights);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  right: 50%;
}

.lds-dual-ring {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 12px;
}

.lds-dual-ring.ativo {
  display: inline-block;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
  border: 1px solid #fff;
  border-color: #757575 transparent #757575 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 475px) {
  .group {
    width: 70%;
  }
  body {
    padding: 5px;
  }
  footer {
    font-size: .6rem;
    padding: 6px;
  }
}

@media (max-width: 430px) {
  .group {
    width: 75%;
  }
}

@media (max-width: 400px) {
  .group {
    width: 80%;
  }
}

@media (max-width: 360px) {
  .group {
    width: 85%;
  }
}
/*# sourceMappingURL=style.css.map */